{% extends 'base.html.twig' %}

{% block title %}New SecurityIncident{% endblock %}

{% block body %}
    <h1>Create new SecurityIncident</h1>

    {{ include('security_incident/_form.html.twig') }}

    <a href="{{ path('app_security_incident_index') }}">back to list</a>
{% endblock %}
