{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to ISO Management System!</h1>
        <p class="lead">This is a simple system to manage ISO 27001 compliance.</p>
        <hr class="my-4">
        <p>Use the navigation bar to manage users, documents, audits, security incidents, risks, and assets.</p>
    </div>
{% endblock %}
